* {
    box-sizing: border-box;
    overflow: hidden;
}

/* header */
header {
    width: 1024px;
    height: 65px;
    background-color: lightblue;
}

/* container */
.container {
    width: 1024px;
    /* - 65px ok */
    /* -65px ng */
    height: calc(768px - 65px - 20px);
    background-color: lightyellow;
}

/* container-left */
.container-left {}

/* containerright */
.containerright {}

/* footer */
footer {
    width: 1024px;
    height: 20px;
    background-color: lightcoral;
}